.profile-action-btn {
    padding: 16px 12px;
    background-color: #fff;
    color: #3366ff;
    font-size: 10px;
    border-radius: 0;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid #3366ff;
    width: 120px;
    margin-bottom: 8px;
    box-shadow: none !important;
}

.profile-action-btn:hover {
    background-color: #3366ff;
    color: #fff;
    border: 1px solid #3366ff;
}

.profile-action-btn-active {
    background-color: #3366ff !important;
    color: #fff !important;
    border: 1px solid #3366ff !important;
}

.profile-action-btn:focus {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    outline: none !important;
}

.profile-action-btn:active {
    background-color: #3366ff !important;
    color: #fff !important;
    border: 1px solid #3366ff !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    outline: none !important;
}

.patient-option-btn {
    border: 0 !important;
    background: none !important;
    color: #535353;
    font-size: 14px;
    outline: none !important;
    box-shadow: none !important;
    float: right;
}

.patient-option-btn:hover {
    color: #3366ff;
}

.header-option-btn {
    border: 0 !important;
    background: none !important;
    color: #535353;
    font-size: 14px;
    outline: none !important;
    box-shadow: none !important;
    float: right;
    padding: 0;
}

.header-option-btn:hover {
    color: #3366ff;
}