.profile-action-btn {
    padding: 16px 12px;
    background-color: #fff;
    color: #4BB3FD;
    font-size: 10px;
    border-radius: 0;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid #4BB3FD;
    width: 150px;
    margin-bottom: 8px;
    box-shadow: none !important;
}

.profile-action-btn:hover {
    background-color: #4BB3FD;
    color: #fff;
    border: 1px solid #4BB3FD;
}

.profile-action-btn-active {
    background-color: #4BB3FD !important;
    color: #fff !important;
    border: 1px solid #4BB3FD !important;
}

.profile-action-btn:focus {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    outline: none !important;
}

.profile-action-btn:active {
    background-color: #4BB3FD !important;
    color: #fff !important;
    border: 1px solid #4BB3FD !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    outline: none !important;
}

.patient-option-btn {
    border: 0 !important;
    background: none !important;
    color: #535353;
    font-size: 14px;
    outline: none !important;
    box-shadow: none !important;
    float: right;
}

.patient-option-btn:hover {
    color: #4BB3FD;
}

.patient-option-menu {
    border-radius: .2rem !important;
    left: -120px;
    font-size: 12px;
}

.dropdown-menu > li > a {
    padding: 16px !important;
}

.dropdown-menu > li:first-child > a {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.dropdown-menu > li:last-child > a {
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.header-option-btn {
    border: 0 !important;
    background: none !important;
    color: #535353;
    font-size: 14px;
    outline: none !important;
    box-shadow: none !important;
    float: right;
    padding: 0;
}

.header-option-btn:hover {
    color: #4BB3FD;
}

.modal-action-btn {
    margin-top: 24px;
    padding: 16px 12px;
    background-color: #fff;
    color: #4BB3FD;
    font-size: 10px;
    border-radius: 0;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid #4BB3FD;
    width: 120px;
    margin-bottom: 8px;
    box-shadow: none !important;
    float: right;
}

.modal-action-btn:hover {
    background-color: #4BB3FD;
    color: #fff;
    border: 1px solid #4BB3FD;
}

.modal-action-btn:focus {
    background-color: #fff;
    color: #4BB3FD;
    border: 1px solid #4BB3FD;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    outline: none !important;
}

.modal-action-btn:active {
    background-color: #4BB3FD !important;
    color: #fff !important;
    border: 1px solid #4BB3FD !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    outline: none !important;
}

.bar-action-btn {
    padding: 12px 12px;
    background-color: #fff;
    color: #4BB3FD;
    font-size: 10px;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid #4BB3FD;
    width: 150px;
    box-shadow: none !important;
}

.bar-action-btn:hover {
    background-color: #4BB3FD;
    color: #fff;
    border: 1px solid #4BB3FD;
}

.bar-action-btn-active {
    background-color: #4BB3FD !important;
    color: #fff !important;
    border: 1px solid #4BB3FD !important;
}

.bar-action-btn:focus {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    outline: none !important;
}

.bar-action-btn:active {
    background-color: #4BB3FD !important;
    color: #fff !important;
    border: 1px solid #4BB3FD !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    outline: none !important;
}