.modal-title {
    color: #fff;
    font-weight: 700;
    font-size: 24px;
    text-transform: none;
}

.modal-header {
    background-color: #3366ff;
    border-bottom: 0;
    padding: 32px;
}

.modal-body {
    padding: 32px;
}

.modal-cont {
    
    p {
        color: #757575;
        font-weight: 300;
        font-size: 13px;
        text-align: justify;
    }

    .radio-inline {
        font-size: 12px;
        margin-top:8px;
    }
    .radio-inline input[type=radio] {
        margin-top: 1px;
    }

    .formtype-header {
        color: #535353;
        font-weight: 700;
        font-size: 16px;
        margin: 0px 0px 8px 15px;
    }

    .control-label {
        font-size: 12px;
        color: #757575;

    }

    .agelimit-label  {
        font-size: 12px;
        margin: 0px;
    }

    .labelform {
        font-size: 14px;
        margin: 4px 0px 0px;
        line-height: 120%;
    }

    .field-row-entry {
        margin-bottom: 8px;
    }

    .form-control {
        font-size: 12px;
        color: #000;
    }
}