.patient-data-dashboard-view {

    .profile-card {
        background-color: #fff;
        padding: 32px;
        border-radius: 0;
        border: 1px solid #e5e9f2;
        box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,.025);
        border-radius: .2rem;
    }

    .patient-profile-card {
        background-color: #fff;
        //padding: 32px;
        border-radius: 0;
        margin-bottom: 24px;
        border: 1px solid #e5e9f2;
        box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,.025);
        border-radius: .2rem;

        .patient-profile-label {
            font-weight: bold;
        }
    }

    .patient-data-dashboard-card {
        background-color: #fff;
        border-radius: 0;
        margin-bottom: 24px;
        border: 1px solid #e5e9f2;
        box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,.025);
        border-radius: .2rem;

        .patient-data-dashboard-label {
            font-weight: bold;
        }

        .patient-data-dashboard-history-view {
            background-color: #fff;
            min-height: 300px;
    
            th {
                font-size: 10px;
                text-transform: uppercase;
                padding: 16px 8px;
            }
    
            td {
                font-size: 12px;
                padding: 16px 8px;
            }
        }
    }

    .health-stats-card {
        background-color: #fff;
        padding: 32px 32px 16px;
        border-radius: 0;
        margin-bottom: 24px;
        border: 1px solid #e5e9f2;
        box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,.025);
        border-radius: .2rem;

        .stats-segment-1 {
            display: inline-block;
            margin: 0px 8px 0px 0px;
            vertical-align: bottom;
        }

        .stats-segment-2 {
            display: inline-block;
            margin: 0px 8px 4px 0px;
            vertical-align: bottom;
        }

        .stats-segment-3 {
            display: inline-block;
            margin: 0px 8px 22px 0px;
            vertical-align: bottom;
        }

        .health-stats-label {
            font-weight: bold;
        }

        .stats-last-update {
            margin-top: 16px;
            .lastupdate {
                font-size: 10px;
            }
        }

        .heartrate-bpm {
            margin: 0px;
            font-size: 36px;
        }

        .heartrate-bpm-label {
            margin: 8px 0px 0px;
            color: red;
        }

        .heart-glyph {
            color: red
        }

        .bp-glyph {
            color: red
        }
    }
    
}

.patient-pic-card {
    background-color: #fff;
    border-radius: 0;
    margin-bottom: 24px;
    border: 1px solid #e5e9f2;
    box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,.025);
    border-radius: .2rem;
    padding: 16px 16px 48px;

    .patient-pic-section {
        margin: 32px 64px;

        .profilepic {
            border-radius: 50% !important;
            height: 100%;
            width: 100%;
        }
    }

    .patient-name-section {
        text-align: center;
        font-size: 24px;
        font-weight: bold;
    }

    .patient-pic-btns {
        margin-top: 48px;
        text-align: center;
    }
}

.patient-nextact-card {
    background-color: #fff;
    border-radius: 0;
    margin-bottom: 24px;
    border: 1px solid #e5e9f2;
    box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,.025);
    border-radius: .2rem;

    .upnext-content {
        height: 20px;
    }

    .upnextdate {
        font-size: 12px;
        color: #858585;
    }
}

@keyframes anim-heart-beat {
    0%   { 
        transform: scale(1.0);
        -webkit-transform: scale(1.0); 
    }
    50%   { 
        transform: scale(0.5);
        -webkit-transform: scale(0.7); 
    }
    100%   { 
        transform: scale(1.0);
        -webkit-transform: scale(1.0); 
    }
}

.heart-glyph {
    //-webkit-animation: anim-heart-beat 1s infinite; /* Safari 4+ */
    //-moz-animation:    anim-heart-beat 1s infinite; /* Fx 5+ */
    //-o-animation:      anim-heart-beat 1s infinite; /* Opera 12+ */
    // animation:         anim-heart-beat 0.35s infinite; /* IE 10+, Fx 29+ */
}